<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <button ng-if="vm.moreUpdatesAvail" ng-click="vm.addSteps()" class="btn btn-default" type="button">Walk!
      </button>
    </div>
    <div class="col-md-6"><h3 style="float: right;">Daily Goal: {{vm.goal | number}}</h3></div>
  </div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow={{vm.currentSteps}} aria-valuemin="0"
         aria-valuemax={{vm.goal}}
         style="width: {{vm.currentPercentage}}%;">{{vm.currentSteps | number}} steps
    </div>
  </div>


  <uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert($index)">{{alert.msg}}
  </uib-alert>

  <div class="jumbotron">
    <div class="fittySpot">
      <!-- fittyWaving -->
      <!--<div ng-show="vm.showWavingFitty">-->
      <!--<div id="Stage" class="fittyWaving">-->
      <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; fittyChillin &ndash;&gt;-->
      <!--<div ng-show="vm.showChillinFitty">-->
      <!--<div id="Stage" class="fittyChillin">-->
      <!--</div>-->
      <!--</div>-->

      <!-- fittySad -->
      <div ng-show="vm.showSadFitty==true">
        <div id="Stage" class="fittySad">
        </div>
      </div>

      <!-- fittyPlaying -->
      <div ng-show="vm.showPlayingFitty==true">
        <div id="Stage" class="fittyPlaying">
        </div>
      </div>

      <!-- fittyEating -->
      <div ng-show="vm.showEatingFitty==true">
        <div id="Stage" class="fittyEating">
        </div>
      </div>

      <!-- fittyWaving -->
      <div ng-show="vm.showWavingFitty==true">
        <div id="Stage" class="fittyWaving">
        </div>
      </div>

      <!-- fittyDefault -->
      <div ng-show="vm.showDefaultFitty==true">
        <div id="Stage" class="fittyDefault">
        </div>
      </div>

    </div>
    <div class="mood">
      <h3>Fitty's {{vm.mood}}</h3>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-md-5"><h6>Hunger Score: {{vm.hunger.score}}</h6></div>-->
    <!--<div class="col-md-5"><h6>Happiness Score: {{vm.happiness.score}}</h6></div>-->
    <!--</div>-->

    <div class="row">
      <div class="bank"><h4>Step bank: {{vm.stepBank | number}}</h4></div>
    </div>

    <div class="row buttonGroup">

      <div class="col-md-6">
        <button ng-click="vm.feedFitty()" class="btn btn-primary" type="button">Feed Fitty
          <div class="buttonsSubText">{{vm.mealCostSteps}} steps</div>
        </button>
      </div>
      <div class="col-md-6">
        <button ng-click="vm.playWithFitty()" class="btn btn-primary" type="button">Play With Fitty
          <div class="buttonsSubText">{{vm.playCostSteps}} steps</div>
        </button>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <button ng-click="vm.logWater()" class="btn btn-primary" type="button">Log Water
          <div class="buttonsSubText">Free!</div>
        </button>
      </div>

      <div class="col-md-6" ng-if="vm.waterCount > 0">
        <img class="waterDrop" ng-repeat="i in vm.getWaterCount(vm.logWater) track by $index" src="/images/waterDrop.png">
      </div>
    </div>



    <div>
      <button type="button" class="btn btn-link btn-xs resetButton" ng-click="vm.resetFitty()">reset</button>
    </div>

  </div>
</div>
